.contacts {
  margin-bottom: 50px;

  .mdc-list-divider {
    color: $app-color-grey;
  }

  &__item.mdc-list-item {
    height: 90px;
    svg {
      width: 14px;
      height: 14px;
      margin-bottom: -2px;
      fill: rgba(0,0,0,.54);
    }
  }

  &__avatar {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  a {
    text-decoration: none;

    color: inherit;
  }
}