.logo {
    max-width: 300px;
    margin-top: 15px;
    @media only screen and (max-width: 800px) {
        max-width: 200px;
        margin-top: 5px;
    }
    @media only screen and (max-width: 500px) {
        max-width: 150px;
        margin-top: 5px;
    }
}