.nav {
  position: sticky;
  z-index: 10;
  top: -1px;
  //background-color: $app-color-grey;
  background-color: $app-color-black;
  box-shadow: 0 5px 5px -5px $app-color-black;
}

.social-icons {
  display: flex;
  align-items: center;
    @media (max-width: 450px) {
        padding-top: 5px;
    }
  @include media-breakpoint-down(sm) {
    &__icon {
      width: 20px;
    }
  }

  &__item {
    flex: 1;
    margin-right: 15px;
    text-align: center;
    color: $app-color-black;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
      transition: $app-transition;
      color: $app-color-white;
    }
    svg {
      fill: #fff;
    }
    &.vk {
      svg {
        width: 40px;
        height: 40px;
        @media (max-width: 450px) {
          width: 30px;
          height: 30px;
        }
      }
    }
    &.facebook {
      svg {
        width: 14px;
        height: 28px;
          @media (max-width: 450px) {
              width: 12px;
              height: 21px;
          }
      }
    }
    &.instagram {
      svg {
        width: 30px;
        height: 30px;
        @media (max-width: 450px) {
          width: 25px;
          height: 25px;
        }
      }
    }
    &.twitter {
      svg {
        width: 30px;
        height: 30px;
        @media (max-width: 450px) {
          width: 25px;
          height: 25px;
        }
      }
    }
    &.youtube {
      svg {
        width: 60px;
        height: 50px;
        @media (max-width: 450px) {
          width: 40px;
          height: 30px;
        }
      }
    }
    &.telegram {
      svg {
        width: 30px;
        height: 30px;
        @media (max-width: 450px) {
          width: 20px;
          height: 20px;
        }
      }
    }
    &.itunes {
      svg {
        width: 30px;
        height: 30px;
        @media (max-width: 450px) {
          width: 20px;
          height: 20px;
        }
      }
    }
    &.google {
      svg {
        width: 28px;
        height: 28px;
        @media (max-width: 450px) {
          width: 20px;
          height: 20px;
        }
      }
    }

  }

  &__icon {
    fill: #fff;
    svg {
      fill: #fff;
    }
  }
}
