.top-links {
    background-color: #a8a8a2;
    justify-content: center;
    margin-bottom: 4px;
    .top-links__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        padding: 16px var(--containerPadding);
        margin: auto;
        max-width: var(--maxViewport);
        list-style: none;
    }
    .top-link {
        color: #000000;
        font-size: 1.6rem;
        text-decoration: none;
        text-shadow: #999999 1px 1px 2px;
        &:hover {
            text-decoration: underline;
        }
    }
}