.top-links {
    background-color: rgba(0, 0, 0, 0.86);
    justify-content: center;
    margin-bottom: 4px;
    .top-links__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        padding: 16px var(--containerPadding);
        margin: auto;
        //max-width: var(--maxViewport);
        list-style: none;
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
        @media screen and (max-width: 767px) {
            height: auto;
            font-size: 1.7rem;
        }
    }
    .top-link {
        color: #ffffff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}