.Events {
    &__list-table {
        margin-top: 30px;
        td {
            padding: 6px;
            font-size: 0.9rem;
            &.date {
                width: 6%;
            }
        }
    }
    &__edit-form {
        font-size: 0.9rem;
        .form-group {
            label {
                line-height: 1;
                background-color: #eeeeee;
            }
        }
    }
    &__years-links {
        margin: 15px 0;
        overflow: auto;
        a {
            display: block;
            float: left;
            padding: 3px 7px;
            margin: 0 5px 5px 0;
            border: solid 1px #727272;
            border-radius: 4px;
        }
    }
}